body {
    background-color: #555;
    font-family: "loveloblack", sans-serif;
    background-image: none;
}

body.novideobg {
    background-image: url("../assets/images/videobg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.messages {
    background-color: #ccc;
    text-align: left;
    padding: 12px;
    max-width: 600px;
    margin: 24px auto;
}

.messages > div {
    margin: 6px 0;
}

.messages > div:before {
    content: ">>> ";
    font-weight: bold;
}

.caller,
.operadora {
    padding: 12px;
    margin: 12px;
}

#callvideo {
    max-width: 260px;
    height: auto;
}

button {
    padding: 6px;
    font-size: 12px;
    margin: 12px 0;
}

#escuchar {
    max-width: 220px;
    height: auto;
    cursor: pointer;
}

#cenexheader {
    text-align: center;
}

#cenexheader img {
    max-width: 250px;
    height: auto;
}

.callzone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 72px 0;
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.94) 0,
        rgba(255, 255, 255, 0.6) 10%,
        rgba(255, 255, 255, 0) 20%
    );
}

.callzone.hidden {
    display: none;
}

.callzone img {
    max-width: 250px;
    height: auto;
}

#botoncortar {
    display: none;
}

#botoncortar.active {
    display: block;
}

#botonllamar.hidden {
    display: none;
}

#botoncontestar {
    display: none;
    max-width: 160px;
}

#botoncontestar.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .callzone {
        max-width: 100%;
    }
}

.botonui {
    display: block;
    cursor: pointer;
    transition: all ease-in 0.1s;
    max-width: 100%;
    height: auto;
}

.botonui:hover {
    opacity: 0.95;
}

.radiozone {
    text-align: center;
}

.operadora {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.audiozone {
    text-align: center;
}

.audiozone audio {
    margin: 12px auto;
}

.busyzone {
    max-width: 600px;
    margin: 24px auto;
    display: none;
}

.busyzone.active {
    display: block;
    text-align: center;
}

.busyzone video {
    max-width: 100%;
    height: auto;
}

#videobg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
    display: block;
}

.novideobg #videobg {
    display: none;
}

.instructionszone {
    max-width: 900px;
    height: auto;
    margin: 0 auto 36px auto;
    text-align: center;
    font-size: 24px;
    background-color: #1b08e3;
    color: white;
    background-image: radial-gradient(#1b08e3, #f0470c);
    padding: 24px;
    text-shadow: 4px 4px 1px #333;
}

.instructionszone ul li {
    list-style: none;
}

.instructionszone img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .instructionszone {
        font-size: 24px;
        margin: 0 -36px;
    }

    .instructionszone ul {
        padding: 0;
        margin: 0;
    }

    .instructionzone ul li {
        padding: 0;
        margin: 0;
    }

    #cenexheader img {
        max-width: 150px;
    }

    .callzone {
        margin: 12px auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videobg {
        width: auto;
        height: 100%;
    }
}

.openoperator {
    font-size: 42px;
    color: #81ff4b;
    text-shadow: 2px 2px 0 red;
}

.openoperator.hidden {
    display: none;
}

.oncallzone {
    display: none;
    color: #84fb51;
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 1px red;
}

.oncallzone.active {
    display: block;
}
