body {
    background-color: #333;
    font-family: sans-serif;
}

.messages {
    background-color: #ccc;
    text-align: left;
    padding: 12px;
    max-width: 600px;
    margin: 24px auto;
}

.messages > div {
    margin: 6px 0;
}

.messages > div:before {
    content: ">>> ";
    font-weight: bold;
}

.caller,
.operadora {
    padding: 12px;
    margin: 12px;
}

#callvideo {
    max-width: 260px;
    height: auto;
}

button {
    padding: 6px;
    font-size: 12px;
    margin: 12px 0;
}

#escuchar {
    max-width: 220px;
    height: auto;
    cursor: pointer;
}

#cenexheader {
    text-align: center;
}

#cenexheader img {
    max-width: 250px;
    height: auto;
}

.callzone {
    display: flex;
    justify-content: center;
    margin: 72px auto;
}

.callzone.hidden {
    display: none;
}

.callzone img {
    max-width: 250px;
    height: auto;
}

#botoncortar {
    display: none;
}

#botoncortar.active {
    display: block;
}

#botonllamar.hidden {
    display: none;
}

#botoncontestar {
    display: none;
    max-width: 160px;
}

#botoncontestar.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .callzone {
        max-width: 100%;
    }
}

.botonui {
    display: block;
    cursor: pointer;
    transition: all ease-in 0.1s;
    max-width: 100%;
    height: auto;
}

.botonui:hover {
    opacity: 0.95;
}

.radiozone {
    text-align: center;
}

.operadora {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.audiozone {
    text-align: center;
}

.audiozone audio {
    margin: 12px auto;
}

.busyzone {
    max-width: 600px;
    margin: 12px auto;
    display: none;
}

.busyzone.active {
    display: block;
}

.busyzone video {
    max-width: 100%;
    height: auto;
}

#videobg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

@media (min-aspect-ratio: 16/9) {
    #videobg {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videobg {
        width: auto;
        height: 100%;
    }
}
